.boss {
  background: #ffffff;
  width: 1440px;
  height: 3000px;
}

/* Шапка */

.head{
  height: 70px;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;  
  padding-left: 30px;
  padding-bottom: 30px;
  font-size: 30px;
}

nav li {
  margin-right: 10px;
  margin-left: 10px;
}

nav a:hover {
  color: #FE9015;
  font-size: 15px;
  transition: 0.6s;
  font-weight: 400;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.63px;
  text-align: left;
}

/* Поиск */

.search_block {
  padding-left: 57px;
  width: 500px;
}

.search_block form {
  width: 400px;

  height: 35px;
  display: flex;
  margin: 0 auto;
  border: 1.5px solid #ce8939;
}
input.search {
  width: calc(100% - 54px);
  height: auto;
  background-color: #fff8f8;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border: 0;
  padding-left: 15px;
}
input.submit {
  background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat #FE9015;
  border: 0;
  width: 54px;
  height: auto;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

/* Поиск */

.account {
  padding-left: 530px;
  padding-top: 0px;
  width: 199px;
}

.account form {
  width: 148px;
  height: 35px;
  display: flex;
  margin: 0 auto;
  border: 1.5px solid #ce8939;
}
